<!doctype html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>
<% include templates/statusBar.ejs %>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="text-center">
                <h1>Virtual Stand-up</h1>
                <p class="lead"><%= title %></p>
            </div>
            <hr>
            <div id="scrollableArea" class="tab-pane">
                <ul id="messages" style="margin-top: 2%"></ul>
            </div>
            <script src="/socket.io/socket.io.js"></script>
            <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script>
                $(document).ready(function () {
                    var elem = document.getElementById("scrollableArea");
                    elem.style.maxHeight = ($( window ).height() - 300).toString() + "px";
                });
                window.addEventListener('resize', function() {
                    var elem = document.getElementById("scrollableArea");
                    elem.style.maxHeight = ($( window ).height() - 300).toString() + "px";
                }, false);

                $(function () {
                    var socket = io();
                    $('form').submit(function () {
                        if($('#chatMessage').val() !== '') {
                            socket.emit('chat message', $('#chatMessage').val(), $('#userName').val());
                        }
                        $('#chatMessage').val('');
                        return false;
                    });
                    socket.on('chat message', function (msg, userName) {
                        if(userName == $('#userName').val()) {
                            $('#messages').append($('<li style="font-weight: bold; color: #00B7FF; float: right; margin-right: 2%">').text(`${userName}: ${msg}`));
                            $('#messages').append($('</br>'));
                        }else {
                            $('#messages').append($('<li>').text(`${userName}: ${msg}`));
                        }
                        var elem = document.getElementById("scrollableArea");
                        elem.scrollTop = elem.scrollHeight;
                    });
                });
            </script>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form action="/" method="">
                <div class="form-inline text-center">
                        <div class="fixed-bottom" style="bottom: 5%;">
                            <input id="chatMessage" name="chatMessage" class="form-control" placeholder="message" autocomplete="off">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    <input type="hidden" id="userName" value="<%=userName%>" />
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>