<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<% include templates/statusBar.ejs %>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">

            <div class="text-center">
                <h1>Virtual Stand-up</h1>
                <p class="lead">Use this form to enter your daily meeting notes...</p>
            </div>

            <% if(message.length > 0 ) { %>
            <div class="alert alert-danger alert-error">
                <%= message %>
            </div>
            <% } %>
            <form class="form-horizontal" action="newnote" method="post" id="needs-validation" novalidate>
                <fieldset>

                    <!-- Form Name -->
                    <legend>Enter a Meeting Note</legend>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="control-label" for="memberName">Name</label>
                        <div>
                            <select id="memberName" name="memberName" class="form-control" disabled>
                                <option value="<%=userName%>"><%=userName%></option>
                            </select>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="control-label" for="project">Current Project or Task</label>
                        <div>
                            <select id="project" name="project" class="form-control" required>
                                <option value="">(Select Project)</option>
                                <option value="matrix">Matrix API Development</option>
                                <option value="trinity">Trinity UI Development</option>
                                <option value="morpheus">Morpheus Data Integration</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select Project name.
                            </div>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="control-label" for="workYesterday">What did you work on yesterday?</label>
                        <div>
                            <textarea class="form-control" id="workYesterday" name="workYesterday" placeholder="Yesterday" required></textarea>
                            <div class="invalid-feedback">
                                Please fill Yesterday work description.
                            </div>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="control-label" for="workToday">What will you work on today?</label>
                        <div>
                            <textarea class="form-control" id="workToday" name="workToday" placeholder="Today" required></textarea>
                            <div class="invalid-feedback">
                                Please fill Today work description.
                            </div>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="control-label" for="impediment">Any Impediment(s)?</label>
                        <div>
                            <textarea class="form-control" id="impediment" name="impediment" placeholder="None"></textarea>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="control-label" for="btnSaveNote">Save Note</label>
                        <div>
                            <button id="btnSaveNote" name="btnSaveNote" class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div><!-- /.container -->
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';

        window.addEventListener('load', function() {
            var form = document.getElementById('needs-validation');
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        }, false);
    })();
</script>
</body>
</html>