<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">StandApp</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <% for (var i = 0; i < nav.length; i++) { %>
                        <% if (IsSignInRequired(nav[i].Link)) { %>
                            <% continue; %>
                        <% } else if (nav[i].Link === '/auth' || nav[i].Link === '/auth/logout' ) { %>
                            <% continue; %>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href=<%= nav[i].Link %>><%= nav[i].Text %></a>
                        </li>
                    <% } %>
                </ul>
                <ul class="navbar-nav">
                    <a class="nav-link" href=<%=nav.find(findAuthItem).Link%>><%=nav.find(findAuthItem).Text%></a>
                </ul>
            </div>

            <%
            function IsSignInRequired (link) {
                return (link === '/newnote'
                        || link === '/discuss')
                        && typeof userName == 'undefined';
            };
            function findAuthItem (navItem) {
               return typeof userName == 'undefined' ? navItem.Link === '/auth' : navItem.Link === '/auth/logout';
            };
            %>
        </nav>
</div>
